<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/Account"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="profile.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-input type="tel" [(ngModel)]="profile.phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="profile.email"></ion-input>
    </ion-item>
  </div>
  <div>
    <ion-button expand="block" color="primary" (click)="saveChanges()">Save Changes</ion-button>
    <ion-button expand="block" color="success" (click)="addNewProfile()">Add New Profile</ion-button>
  </div>
</ion-content>